<div class="container"
<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lastName %>
    <%= form.text_field :lastName ,  :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :firstName %>
    <%= form.text_field :firstName, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :birthDate %>
    <%= form.text_field :birthDate, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :idNumber %>
    <%= form.text_field :idNumber, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country ,:class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :geren %>
    <%= form.text_field :geren ,:class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit  :class => 'btn btn-primary' %>
  </div>
<% end %>
</div>
