<h1>Speaker#index</h1>
<p>Find me in app/views/speaker/index.html.erb</p>
<table class="table ">
	  <thead class="thead-dark">
	<tr><TH>ID</TH><TH>Apellidos</TH><TH>Nombres</TH></TH><TH>Foto</TH><TH>Correo</TH><TH>Pais</TH><TH>Telefono</TH><TH colspan="2"><%= link_to 'Nuevo', speaker_new_path %></TH></tr>
</thead>
	<tbody>
	<% @speakers.each do |f| %>
	
	<tr><TD><%= f.id %></TD>
		<TD><%= f.lastName %></TD>
		<TD><%= f.firstName %></TD>
		
		<TD><%= f.photo %></TD>
		<TD><%= f.email %></TD>
		<TD><%= f.country %></TD>
		<TD><%= f.phone %></TD>
		<TD><%= link_to 'Editar', speaker_edit_path(f['id']) %></TD><TD>
<%= link_to 'Borrar', { :action => :destroy, :id => f.id }, :method => :delete, :data => { :confirm => 'Desea borrar el registro?' } %>
		</TD>
	</tr>
    <% end %>
    </tbody>
</table>