
<p>
  <strong>Lastname:</strong>
  <%= @speaker.lastName %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @speaker.firstName %>
</p>


<p>
  <strong>Resume:</strong>
  <%= @speaker.resume %>
</p>


<p>
  <strong>Info:</strong>
  <%= @speaker.info %>
</p>


<p>
  <strong>Photo:</strong>
  <%= image_tag @speaker.photo.medium.url , size: "250x250"  %>
</p>


<p>
  <strong>Email:</strong>
  <%= @speaker.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @speaker.country %>
</p>


<p>
  <strong>Phone:</strong>
  <%= @speaker.phone %>
</p>

<%= link_to 'Editar', speaker_edit_path(@speaker) %> |
<%= link_to 'Atras', speaker_index_path %>
