<p id="notice"><%= notice %></p>
<h1>Conferencias</h1>

<table class="table ">
  <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Intro</th>
      <th>Date</th>
      <th>Time</th>
      <th>Place</th>
      <th>Event</th>
      <th>Speaker</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= conference.title %></td>
        <td><%= conference.intro %></td>
        <td><%= conference.date.strftime("%Y/%m/%d") %></td>
        <td><%= conference.time.strftime("%I:%M%p")%></td>
        <td><%= conference.place %></td>
        <td><%= conference.event_id %></td>
        <td><%= conference.speaker_id %></td>
        <td><%= link_to 'Ver más', conference %></td>
        <td><%= link_to 'Editar', edit_conference_path(conference) %></td>
        <td><%= link_to 'Eliminar', conference, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva conferencia', new_conference_path %>
