<!DOCTYPE html>
<html>
  <head>
    <title>Eventsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <% if !user_signed_in? %>

      <li> <%= link_to 'Entrar', new_user_session_path %> </li>
        <% else %>
      <li> <%= link_to 'sALIR', destroy_user_session_path, method: :delete %> </li>
      <% end %>
    </ul>
    <div>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
